<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/x-icon" th:href="@{/images/myico_16.ico}"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>SpringBootUserAdd</title>
</head>
<body>
	<form th:action="@{/addDo}" >
		NAME : <input type="text" name="name"/><br/>
		AGE : <input type="text" name="age"/><br/>
		SALARY : <input type="text" name="salary"/><br/>
		MID : <input type="text" name="mid"/><br/>
		BIRTHDAY : <input type="date" name="birthday"/><br/>
		<input type="submit" value="submit"/>
		<input type="reset" value="Reset"/>
	</form>
</body>
</html>