<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/x-icon" href="images/myico_16.ico"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title>SpringBoot-Error-404</title>
	<style type="text/css">
		div{
			position: absolute;
			left: 50%;
			top: 50%;
			width:650px;
			height: 400px;
			margin-left:-325px;
			margin-top:-200px;
		}
	</style>
</head>
<body>
	<div>
		<img alt="404" src="images/404.jpg"/> 
	</div>
</body>
</h